@inherits Netflix.Frontend.Components.MostWatchedHorrorBase

<!-- Most watched Horror -->
<div class="row">
    <h2>Most watched Horror</h2>
    <div class="row__posters">

        @foreach (var movie in HorrorMovies)
        {
            <img class="row__poster row__posterLarge" src="@($"{BaseUrl}{movie.Poster_path}")" alt="" />
        }
    </div>
</div>