<!-- Trending Now -->
<div class="row">
    <h2>Trending Now</h2>
    <div class="row__posters">
        <img class="row__poster" src="http://image.tmdb.org/t/p/original//qFfWFwfaEHzDLWLuttWiYq7Poy2.jpg" alt="" />

        <img class="row__poster" src="images/small-movie2.jpg" alt="" />

        <img class="row__poster" src="images/small-movie3.jpg" alt="" />

        <img class="row__poster" src="images/small-movie4.jpg" alt="" />

        <img class="row__poster" src="images/small-movie5.jpg" alt="" />

        <img class="row__poster" src="images/small-movie6.jpg" alt="" />

        <img class="row__poster" src="images/small-movie7.jpg" alt="" />

        <img class="row__poster" src="images/small-movie8.jpg" alt="" />
    </div>
</div>