<!-- Netflix Originals -->
<div class="row">
    <h2>NETFLIX ORIGINALS</h2>
    <div class="row__posters">
        <img class="row__poster row__posterLarge" src="images/large-movie1.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="images/large-movie2.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="images/large-movie3.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="images/large-movie4.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="images/large-movie5.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="images/large-movie6.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="images/large-movie7.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="images/large-movie8.jpg" alt="" />
    </div>
</div>