<div id="nav" class="nav">
    <img class="nav__logo" src="images/netflix-logo.png" alt="" />
    <button class="banner__button" style="background-color: rgba(51, 51, 51, 0.0)">Browse</button>
    <button class="banner__button" style="background-color: rgba(51, 51, 51, 0.0)">Favourites</button>
    
    <img class="nav__avatar" src="images/man.png" alt="" />
</div>

@code {

}