@page "/"
@inherits Netflix.Frontend.Pages.HomeBase
@using Netflix.Frontend.Components


<!-- header -->
<header class="banner">
    <div class="banner__contents">
        <img style="width:400px; height:155px" src="https://i.imgur.com/0YCMbxg.png" alt="" href="/" />
        <h6 class="banner__title">Season 2 now available</h6>
        <p style="width:500px;">
            In the second season, notorious drug kingpin Pablo Escobar is on the run, with the Colombian authorities in relentless pursuit -- and determined to put an end to his illegal activities.
        </p>
        <div class="banner__buttons">
            <button class="banner__button">Play</button>
            <button class="banner__button">My List</button>
        </div>
    </div>
    <div class="banner--fadeBottom"></div>
</header>

<div>
    <UserWatchHistoryBase />
</div>

<div>
    <MostWatchedHorror />
</div>

<script>
    const nav = document.getElementById('nav');
    window.addEventListener('scroll', () => {
      if (window.scrollY >= 100) {
        nav.classList.add('nav__black');
      } else {
        nav.classList.remove('nav__black');
      }
    });
</script>
