.WatchPage .Player {
    margin-top: 7rem;
    width: 90vw;
    height: calc(100vh - 10rem)
}

.WatchPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}
